version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/requirements"
    ignore:
        - dependency-name: "sphinx"
    schedule:
      interval: "monthly"
    labels:
      - "maintenance"
      - "dependencies"
    assignees:
      - "pyansys-ci-bot"
    commit-message:
      prefix: "build(deps)"
    groups:
      dependencies:
          patterns:
            # group all dependencies to minimize repository management
            - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "maintenance"
    assignees:
      - "pyansys-ci-bot"
    commit-message:
      prefix: "ci"
    groups:
       actions:
          patterns:
            - "*"
